html {
    scroll-behavior: auto;
    scrollbar-width: thin;
    scrollbar-color: #1c60b4 lightblue;
    width: 100vw;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

input, button {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

div[id] {
    scroll-margin-top: 95px;
}