body {
    background-color: #F6F8F9;
    margin: 38px;
    background-color: rgba(246, 248, 249, 1);
    display: flex;
    justify-content: start;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-content {
    width: 75%;
}

.header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 45px;
    color: #09165A;
    margin-bottom: 20px;
}

.header p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 0%;
}

#animated-banner {
    position: relative;
    width: 226px;
    height: 1441px;
    overflow: hidden;
    border-radius: 25px;
    background-color: #04a9ee;
}

#animated-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 30px #000000cc;
}

#animated-banner > img {
    position: absolute;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.3));
    filter: blur(3px)
}

/* Animaciones */

@keyframes fade-in {
    0% {
        transform: scale(1);
        opacity: 1;
        filter: blur(3px);
    }

    15% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0.5;
        filter: blur(0);
    }
}

@keyframes mv-estetoscopio {
    50% {
        left: 50px;
        /* left: -900px; */
        z-index: 1;
    }

    100% {
        /* left: -450px; */
        /* top: 600px; */
        left: 50px;
        filter: blur(0);
        z-index: 1;
    }
}

@keyframes mv-almohadilla {

}

@keyframes mv-pinza-dental-1 {}

@keyframes mv-aguja-1 {}

@keyframes mv-pills-1 {}

@keyframes mv-pills-2 {}

@keyframes mv-pills-3 {}

@keyframes mv-espejo-dental {}

@keyframes mv-pinza-dental-2 {}

@keyframes mv-aguja-2 {}

@keyframes mv-ampolla {}

@keyframes mv-curita-1 {}

@keyframes mv-curita-2 {}

@keyframes mv-pulsioximetro {}

/* Posicionamiento */

#prueba {
    width: 40px;
    height: 40px;
    background-color: black;
}

#estetoscopio {
    top: 10px;
    left: -450px;
    transition: transform 1.5s ease;
}

#almohadilla {
    transform: rotate(-30deg);
    top: 200px;
    left: 85px;
}

#aguja-1 {
    transform: rotate(-60deg);
    top: 1000px;
    left: -150px;
}

#pinza-dental-1 {
    transform: rotate(20deg);
    top: 10px;
    left: -25px;
}

#pills-1 {
    top: 450px;
    left: 110px;
}

#pills-2 {
    transform: rotate(-20deg);
    top: 1250px;
    left: 120px;
}

#pills-3 {
    transform: rotate(-20deg);
    top: 190px;
    left: 20px;
}

#espejo-dental {
    transform: rotate(-20deg);
    top: 750px;
}

#pinza-dental-2 {
    transform: rotate(170deg);
    top: 750px;
    left: -300px;
}

#aguja-2 {
    transform: rotate(120deg);
    top: 800px;
    left: 90px;
}

#ampolla {
    transform: rotate(30deg);
    top: 1050px;
    left: 80px;
}

#curita-1 {
    transform: rotate(-30deg);
    top: 550px;
    left: 130px;
}

#curita-2 {
    transform: rotate(20deg);
    top: 600px;
}

#pulsioximetro {
    transform: rotate(20deg);
    top: 1350px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap:wrap;
    width: 1000px;
    margin: 10px 20px 30px 20px;
    
}
.flex-container div{
    background-color: rgba(255, 255, 255, 1);
    width: 300px;
    height: 383px;
    transition: transform 0.5s linear  ;
    --color-button: transparent;
}
.flex-container img{
    width: 240px;
    height: 190px;
    padding: none;
    margin: 22.5px;
}

.title-marca{
    width: 35px;
    height: 14px;
    margin-left: 22.5px;
    margin-bottom: 5px;
    font-size: 11.2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
}

.flex-item h2{
    margin-left: 22.5px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    line-height: 17.07px;
    width: 500px;

}

.Precio{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: rgba(43, 180, 163, 1);
    margin-top: 5px;
}

.button-agregar{
    width: 217px;
    height: 38px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgba(43, 180, 163, 1);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(100, 186, 205, 1);
    border-radius: 30px;
    padding: 5.56px 19.45px;
    margin-left: 30px;
    margin-top: 12px;
    transition: background-color 0.5s linear;
}

.flex-item:hover{
    box-shadow:  5px 5px 20px;
    transform: scale(1.2, 1.2);
    --color-button: #a9cce3 ;
    button{
        color: white;
    }
}

button{
    background-color: var(--color-button);
}

button:hover{
    background-color:#85c1e9 ;
}










