#register-form-2, #registerHeader2 {
    display: none;
}

#register-form-2 {
    flex: 1;
    display: none;
    flex-direction: column;
    gap: 30px;
    padding: 0px 183.5px;
    box-sizing: border-box;

    img {
        width: 130.5px;
        height: auto;
    }
}

#register-form-content-1 {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 25px;
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}